html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Kalam', cursive;
  font-size: 24px;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

#viewport {
  position: relative;
  min-width: 1200px;
  height: 100%;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%);
  overflow: hidden;
}

.material-symbols-outlined {
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

#background,
#foreground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#background {
  z-index: 0;
  background: #fff url(../img/scene/bg.jpg);
}

#foreground {
  z-index: 100;
  background: transparent url(../img/scene/fg.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

main {
  position: fixed;
  border-bottom: 1px rgba(0, 0, 0, 0.45) solid;
  z-index: 2;
  top: 50%;
  /*right: 0;*/ /*inline style */
  width: 6000px;
  height: 520px;
  transform-origin: top left;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.is--hidden {
  display: none !important;
}
