main {
  --background-transition-time: 180s;
}

#clouds {
  animation: moving-cloud 50s linear infinite;
  position: absolute;
  margin-top: -180px;
  top: 50%;
  left: 0;
  width: calc(1536px * 2);
  height: 300px;
  background: url(../img/scene/clouds.png) 0 0 repeat-x;
  transform-origin: top left;
  transform: translateY(-50%);
}

@keyframes moving-cloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1536px 0;
  }
}

#objects,
#objects-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
}

#objects {
  z-index: 1;
}

#objects-foreground {
  z-index: 5;
}

.object {
  position: absolute;
  bottom: -2px;
  width: 180px;
  height: 300px;

  .back {
    z-index: 1;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 300px;
    background: url(../img/objects/thicket-1.png) left bottom no-repeat;
    background-size: 100% 250px;
    background-position: center bottom;
    transition: background-size var(--background-transition-time) ease-in,
      bottom var(--background-transition-time) ease-in;
  }
  .back::after {
    content: '';
    position: absolute;
    bottom: 6px;
    width: 100%;
    height: 50px;
    background: url(../img/objects/grass-back.png) left bottom no-repeat;
    background-size: 100% 0;
    transition: background-size var(--background-transition-time) ease-out,
      bottom var(--background-transition-time) ease-in;
  }

  .front {
    z-index: 4;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
    height: 120px;
    background: url(../img/objects/thicket-front.png) left bottom no-repeat;
    background-size: 100% 60px;
    background-position: center bottom;
    transition: background-size var(--background-transition-time) ease-in,
      bottom var(--background-transition-time) ease-in;
  }

  .front::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    background: url(../img/objects/grass-front.png) left bottom no-repeat;
    background-size: 100% 0px;
    transition: background-size var(--background-transition-time) ease-out,
      bottom var(--background-transition-time) ease-in;
  }
}

.object.touched {
  .back,
  .front {
    background-size: 0 0;
    bottom: 0;
  }
  .back::after {
    background-size: 100% 150px;
    bottom: 0;
  }
  .front::after {
    background-size: 100% 100px;
    bottom: 0;
  }
}

#objects .front {
  background: initial; /* no thicket in the back objects layer */
}

#objects-foreground .object.touched .front::after {
  background-size: 80% 60px;
}

.object .core {
  z-index: 2;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 300px;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: contain;
}

.object .coin-slots {
  z-index: 3;
  position: absolute;
  bottom: 185px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-out, bottom 0.5s ease-out;
}

.object .coin-slots .coin-slot {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in;
}

.object .coin-slots .coin-slot.unpaid {
  background-image: url(../img/ui/coin-slot.png);
}

.object .coin-slots .coin-slot.too-expensive {
  background-image: url(../img/ui/coin-slot-too-expensive.png);
}

.object .coin-slots .coin-slot.paid {
  background-image: url(../img/ui/coin.png);
  transform: scale(0);
}

.object .core img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s ease-out;
}

.object .core .rubble {
  z-index: 1;
  opacity: 1;
}

.object .core .preview {
  opacity: 0;
}

.object .core .final {
  opacity: 0;
}

.object.upgraded .core .rubble,
.object.active .core .rubble {
  opacity: 0;
}
.object.active .core .preview {
  opacity: 1;
}
.object.active .coin-slots {
  opacity: 1;
  bottom: 200px;
}

.object .coin-slots.done {
  opacity: 0;
  bottom: 220px;
}

.object.active .core .preview.is--visible {
  opacity: 1;
}

.object .core .final.is--visible {
  opacity: 1;
}

/* special objects styles */
#fence .stage-5.special {
  position: absolute;
  left: 275px;
  bottom: 166px;
  animation: rotating 3s linear infinite;
}

#barn .stage-3.special {
  position: absolute;
  left: 216px;
  bottom: 33px;
  animation: headShaking 3s ease-in-out infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes headShaking {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
