main {
  --plant-transition-time: 20s;
}

.plants {
  z-index: 4;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 560px;
  height: 100px;

  .plant {
    width: 60px;
    height: 100px;
    position: absolute;
    background-size: 0 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: background-size var(--plant-transition-time) linear,
      bottom var(--plant-transition-time) linear;
  }
}
