#ui {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 0;
  width: 100%;
  height: 520px;
  transform-origin: top left;
  transform: translateY(-50%);
}

#tutorial-a-d {
  position: absolute;
  bottom: 255px;
  right: 670px;
  transition: opacity 1s ease-out;
}

#tutorial-e {
  position: absolute;
  bottom: 130px;
  right: 1040px;
  transition: opacity 1s ease-out;
}

#tutorial-a-d.done,
#tutorial-e.done {
  opacity: 0;
}

#coins {
  position: fixed;
  top: -100px;
  left: 50%;
  width: 400px;
  height: 32px;
  transform-origin: top left;
  transform: translatex(-50%);
  text-align: center;
}

#coins .coin {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/ui/coin.png) center center no-repeat;
  background-size: contain;
  transition: width 0.3s ease-in, transform 0.3s ease-in, margin 0.3s ease-in;
  position: relative;
  z-index: 2;
}

#coins .coin:first-child {
  z-index: 1;
}

#coins.few .coin {
  margin: 0 4px;
}

#coins.normal .coin {
  margin: 0 -4px;
}

#coins.many .coin {
  margin: 0 -8px;
}
