#startscreen {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(244, 244, 244) url(../img/scene/bg.jpg) 0 0 repeat;
  transition: opacity 2s ease-out;

  .inner {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    position: relative;

    #loading-progress {
      width: 0%;
      height: 100%;
      background: black;
      transition: width 0.3s;
    }

    #loading-bar {
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      overflow: hidden;
    }

    img {
      position: absolute;
      left: 43%;
      top: -12px;
      transform: translateX(-50%);
      width: 75px;
      height: auto;
      animation: rotating 3s linear infinite;
    }

    #loading-text {
      text-align: center;
      padding-top: 64px;
    }

    .is--loading,
    .is--loaded {
      opacity: 0;
      transition: opacity 1s ease-out;
      text-align: center;
    }

    .is--loaded a {
      color: black;
      background-color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      font-size: 32px;
      line-height: 1.2em;
      font-weight: normal;
      border: 1px solid black;
      padding: 8px 24px 4px;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: #7a0845;
        background-color: #f6cee5;
      }
    }
  }
}

#startscreen.loaded {
  .is--loading {
    display: none;
  }
  .is--loaded {
    opacity: 1;
  }
}

#startscreen.starting {
  opacity: 0;
  pointer-events: none;

  .is--loaded {
    display: none;
  }
}

#ui {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 0;
  width: 100%;
  height: 520px;
  transform-origin: top left;
  transform: translateY(-50%);
}

#tutorial-a-d {
  position: absolute;
  bottom: 255px;
  right: 670px;
  transition: opacity 1s ease-out;
}

#tutorial-e {
  position: absolute;
  bottom: 130px;
  right: 1040px;
  transition: opacity 1s ease-out;
}

#tutorial-e-again {
  position: absolute;
  bottom: 216px;
  right: 960px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#tutorial-b {
  position: absolute;
  bottom: 155px;
  right: 790px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#bus-key {
  position: absolute;
  bottom: 145px;
  right: 810px;
  width: 63px;
  height: 71px;
  background: url(../img/ui/bus-key.png) center center no-repeat;
  opacity: 0;
  transition: all 0.5s ease-out;

  &.show {
    bottom: 155px;
    opacity: 1;
  }

  &.not--possible {
    opacity: 0.3;
    background: url(../img/ui/no-bus-key.png) center center no-repeat;
  }
}

#tutorial-a-d.done,
#tutorial-e-again.done,
#tutorial-b.done,
#tutorial-e.done {
  opacity: 0;
}

#tutorial-e-again.show,
#tutorial-b.show {
  opacity: 1;
}

#coins {
  position: fixed;
  top: -100px;
  left: 50%;
  width: 400px;
  height: 32px;
  transform-origin: top left;
  transform: translatex(-50%);
  text-align: center;
}

#coins .coin {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/ui/coin.png) center center no-repeat;
  background-size: contain;
  transition: width 0.3s ease-in, transform 0.3s ease-in, margin 0.3s ease-in;
  position: relative;
  z-index: 2;
}

#coins .coin:first-child {
  z-index: 1;
}

#coins.few .coin {
  margin: 0 4px;
}

#coins.normal .coin {
  margin: 0 -4px;
}

#coins.many .coin {
  margin: 0 -8px;
}
